header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

header #content a {
    display: inline-block;
    background: none;
    border: 1px var(--color-text-light) solid;
    color: var(--color-text-light);
    padding: 0.5rem 0.75rem;
    margin-top: 2rem;
    font-size: 1.15rem;
}

header #content a:hover {
    display: inline-block;
    background: var(--color-accent);
    border: 1px var(--color-accent) solid;
    color: var(--color-text-light);
    padding: 0.5rem 0.75rem;
    margin-top: 2rem;
    font-size: 1.15rem;
}

#apps {
    padding: 2rem;
    display: block;
}

.app {
    font-size: 1rem;
}

#apps .app .app-icon {
    width: 60px;
    height: 60px;
}